body {
  margin: 0;
  padding: 0;
}

#map1 {
  width: 100%;
  height: 100vh;
}
#worldmap svg {
    padding: 9% 0 0 35%;
    width: 100%;
    height: 100vh;
}

@media only screen and (max-width:425px) {
  #worldmap svg {
    padding: 19% 0 0 0%;
    width: 100%;
    height: 96vh;
  }
}
@media only screen and (max-width:1024) {
  #worldmap svg {
    padding: 11% 0 0 30%;
    width: 100%;
    height: 96vh;
  }
}
@media only screen and (max-width:768px) {
  #worldmap svg {
    padding: 11% 0 0 24%;
    width: 100%;
    height: 96vh;
  }
}
@media only screen and (max-width:566px) {
  #worldmap svg {
    padding: 8% 0 0 13%;
    width: 100%;
    height: 96vh;
  }
}
@media only screen and (max-width:484px) {
  #worldmap svg {
    padding: 8% 0 0 7%;
    width: 100%;
    height: 96vh;
  }
}
@media only screen and (max-width:434px) {
  #worldmap svg {
    padding: 8% 0 0 4%;
    width: 100%;
    height: 96vh;
  }
}
